@media screen and (max-width: 1023px) {
  article {
    max-width: 600px;
  }
  #burguer {
    display: block;
  }
  .nav-list {
    display: none;
    background-color: white;
    flex-direction: column;
    width: 100%;
    
    position: absolute;
    top: 60px;
    left: 0;
  }
  .nav-list.show {
    display: flex;
  }
  .nav-list li {
    margin-right: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  * {
    font-size: 27px;
  }
  article {
    max-width: 1440px;
  }
  .media_column {
    display: inline;
  }
  #apresentacao {
    display: flex;
    padding: 20px;
    align-content: end;
    justify-content: space-between;
    align-items: center;
  }
  #img_slide {
    width: 500px;
  }
  #frames {
    display: block;
    text-align: center;
  }
  div.frame {
    display: inline-block;
    justify-content: space-around;
  }
  #columns {
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }
  .column2 {
    display: inline;
    font-size: 20px;
  }
  #sobremim {
    display: inline;
  }
  #sobremim_container {
    display: flex;
    padding: 20px;
    align-content: end;
    justify-content: space-around;
    align-items: center;
  }
  .sMim > p, a {
    font-size: 20px;
    text-align: center;
  }

  #projetos p {
    font-size: 20px;
  }
  #columns #column1, #column2, #column3 {
    margin-left: 30px;
  }
  sub {
    font-size: 17px;
  }
  .exp_column1 {
    display: inline-block;
    justify-content: space-around;
    padding: 30px;
  }
  div#experience {
    display: block;
    text-align: center;
  }
  nav.navbar {
    display: block;
    margin: auto;
  }
}