@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
::selection {
    background-color: rgba(128, 128, 128, 0.568);
}
::-webkit-scrollbar {
    display: none;
}
body, html {
    font-family: 'Cormorant Garamond', serif;
    width: 100%;
    height: 100%;
}
main {
    background-color: whitesmoke;
}
article {
    background-color: white;
    max-width: 600px;
    margin: auto;
} 


/* CABEÇALHO */
nav {
    display: contents;
}
header {
    display: flex;
    align-content: end;
    justify-content: space-between;
    padding: 20px;
}
li {
    padding: 10px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* APRESENTAÇÃO */
.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-list li {
    margin-right: 20px;
}
.nav-list a:hover {
    text-decoration: 3px underline;
}
#burguer {
    cursor: pointer;
    display: none;
    background-color: transparent;
    width: 36px;
    height: 36px;
    font-weight: lighter;
    cursor: pointer;
    user-select: none;
}
.nav-list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* MINHAS SKILLS */
.frame_skll_1{
    padding: 20px;
    list-style: none;
}
li {
    text-decoration: none;
}
.h1_slide {
    text-align: center;
    font-size: xx-large;
}
#h1_skll {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 40px;
}
.h1_projeto {
    margin-left: 20px;
    font-size: xx-large;
}
.h2_exp {
    margin-left: 10px;
}
p {
    text-indent: 20px;
    padding: 10px 10px;
    text-align: justify;
}
div#container {
    padding: 20px;
}
#frames {
    display: contents;
    text-align: center;
}
div.frame {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* MINHAS EXPERIÊNCIAS */
section#experience {
    background-color: black;
    color: white;
}
div#experience {
    padding: 20px;
}
div.column1 {
    background-color: green;
    border: 3px solid blue;
    padding: 20px;
}
div#links {
    height: 100px;
    margin-left: 20px;
    padding-top: 20px;
}
div#links > a > img {
    width: 37px;
    height: 37px;
    padding: 5px;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* MEUS CURSOS */
#h1_cursos {
    margin: 10px;
}
div.column2 {
    padding: 20px;
}
input {
    background-color: transparent;
    color: rgba(3, 0, 0, 0.486);
    font-size: small;
    border: 1px solid rgba(0, 0, 0, 0.486);
    padding: 7px;
    border-radius: 50px;
    margin: 10px;
}
input:hover {
    background-color: black;
    color: white;
    transition: 1s;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* MEUS PROJETOS */
section#projetos {
    background-color: black;
    color: white;
}


/* RODAPÉ DO SITE */
footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
    justify-content: space-between;
}
footer > div#container {
    display: contents;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */